---
import { Modal, ModalBody, ModalHeader } from 'free-astro-components';
import Swiper from './Swiper.astro';

interface Props {
	id: string;
	nameProject: string;
	description: string;
	learning?: string;
	pathsMultimedia: string[];
}

const { id, nameProject, description, learning, pathsMultimedia } = Astro.props;
---

<Modal id={id} class="absolute top-0 left-0 bottom-0 right-0 m-auto" size="2xl">
	<ModalHeader>
		<h2>{nameProject}</h2>
	</ModalHeader>
	<ModalBody class="space-y-10">
		<Swiper slides={pathsMultimedia} />
		<div>
			<h2 class="font-bold text-xl">Descripción</h2>
			<p class="mt-2" set:html={description} />
		</div>
		<div class=`${learning ===  undefined && "hidden"}`>
			<h2 class="font-bold text-xl">Aprendizaje</h2>
			<p>En este proyecto aprendí a:</p>
			<div set:html={learning} />
		</div>
	</ModalBody>
</Modal>
