---
import Project from './Project.astro';
import ModalProject from './ModalProject.astro';

interface Project {
	image: string;
	technologies: string[];
	name: string;
	description: string;
	learning?: string;
	link_web?: string;
	link_repo: string;
	pathsMultimedia: string[];
}

const projects: Project[] = [
	{
		image: '/portfolio-web/boda_project.png',
		technologies: ['php', 'javascript', 'tailwindcss', 'mysql'],
		name: 'Boda web',
		description:
			'Aplicación web para una boda que incluye invitaciones personalizadas para cada invitado, una galería con fotos de los novios, ubicaciones y confirmación de asistencia por whatsapp. <br> Los datos que contienen las invitaciones personalizadas son el nombre del invitado, el número de adultos que puede llevar el invitado a la boda y el número de niños en caso de que al invitado se le haya permitido llevar niños a la boda, para que el usuario pueda ver su invitación debe de ingresar su nombre en el campo de texto al inicio de la página.',
		learning:
			"<ul class='list-disc'><li>Resolver problemas utilizando librerías, por ejemplo, para crear un slider en la galería de imagenes usé la librería swiper para agilizar y facilitar su desarrollo.</li><li>Conectar una base datos y ejecutar consultas con PHP.</li><li>Integrar nuevas fuentes de letra y colores personalizados en Tailwind.</li><li>Utilizar la API de WhatsApp para redireccionar al usuario a los chats de los novios.</li></ul>",
		link_repo: 'https://github.com/jonathanj20/boda-web-js',
		pathsMultimedia: [
			'/portfolio-web/boda_multimedia/boda-video.mp4',
			'/portfolio-web/boda_multimedia/boda-1.png',
			'/portfolio-web/boda_multimedia/boda-2.png',
		],
	},
	{
		image: '/portfolio-web/el_paceno.png',
		technologies: ['react', 'typescript', 'tailwindcss'],
		name: 'El Paceño',
		description:
			'Página web que muestra información acerca del negocio de comida "El Paceño". Contiene una sección que muestra la promoción que se encuentra disponible en el momento, un menú en donde se pueden ver todas las comidas y bebidas con su respectiva descripción y precio y una sección para ver la ubicación y horario.',
		learning:
			"<ul class='list-disc'><li>Implementar la librería react router y usar sus componentes para la creación de nuevas rutas dentro de una aplicación.</li></ul>",
		link_web: 'https://el-paceno-app.vercel.app/',
		link_repo: 'https://github.com/jonathanj20/el-paceno-app',
		pathsMultimedia: [
			'/portfolio-web/el_paceno_multimedia/el_paceno-1.png',
			'/portfolio-web/el_paceno_multimedia/el_paceno-2.png',
			'/portfolio-web/el_paceno_multimedia/el_paceno-3.png',
		],
	},
	{
		image: '/portfolio-web/news_homepage.png',
		technologies: ['astro'],
		name: 'News Homepage',
		description:
			'Diseño de una página web para la solución a un reto de <a href="https://www.frontendmentor.io/solutions/news-homepage-solution-using-grid-and-flexbox-XuEnlYGMaq" class="hover:underline text-main" target="_blank">frontend mentor</a>',
		learning:
			"<ul class='list-disc'><li>Implementar grid layouts</li><li>Usar grid areas para formar una estructura más rápida y cómoda en una página web.</li></ul>",
		link_web: 'https://news-homepage-six-olive.vercel.app/',
		link_repo: 'https://github.com/jonathanj20/news-homepage',
		pathsMultimedia: ['/portfolio-web/news_multimedia/news_homepage-1.png'],
	},
];
---

<section class="px-5 mt-10" id="projects">
	<h2 class="text-main text-3xl text-center lg:text-start">Proyectos</h2>
	<div class="mt-5 space-y-10 middle:grid middle:gap-4 middle:grid-cols-2 2xl:grid-cols-3 lg:space-y-0">
		{
			projects.map((project) => (
				<Project
					image={project.image}
					technologies={project.technologies}
					name={project.name}
					link_web={project.link_web}
					link_repo={project.link_repo}
				/>
			))
		}
	</div>

	{
		projects.map((project) => (
			<ModalProject
				id={project.name.replaceAll(' ', '')}
				nameProject={project.name}
				description={project.description}
				learning={project.learning}
				pathsMultimedia={project.pathsMultimedia}
			/>
		))
	}
</section>
