---
import Project from "./Project.astro"
interface Project {
    image: string,
    technologies: string[],
    name: string,
    description: string,
    link_web?: string,
    link_repo:string
}

const projects: Project[] = [
    {
        image: "/portfolio-web/boda_project.png",
        technologies: ["php", "javascript", "tailwindcss", "mysql"],
        name: "Boda web",
        description: "Aplicación web con invitaciones personalizadas para una boda",
        link_repo: "https://github.com/jonathanj20/boda-web-js"
    },
    {
        image: "/portfolio-web/plantas-vs-zombies.png",
        technologies: ["HTML", "CSS", "JavaScript"],
        name: "Plantas vs Zombies",
        description: "Clon de plantas vs zombies hecho con la librería p5js",
        link_web: "https://jonathanj20.github.io/plantas-vs-zombies/",
        link_repo: "https://github.com/jonathanj20/plantas-vs-zombies"
    },
    {
        image: "/portfolio-web/laberinto.png",
        technologies: ["HTML", "CSS", "JavaScript"],
        name: "Laberinto",
        description: "Juego creado utilizando el elemento canvas de HTML",
        link_web: "https://jonathanj20.github.io/laberinto-canvas-html/",
        link_repo: "https://github.com/jonathanj20/laberinto-canvas-html"
    },
];
---

<section class="px-5 mt-10" id="projects">
    <h2 class="text-[#9f50ff] text-3xl text-center lg:text-start">Proyectos</h2>
    <div class="mt-5 space-y-10 lg:grid lg:grid-cols-3 lg:gap-2 lg:space-y-0">
        {
            projects.map(project => <Project image={project.image} technologies={project.technologies} name={project.name} description={project.description}  link_web={project.link_web} link_repo={project.link_repo}/>)
        }
    </div>
</section>
